*{
	margin: 0;
	padding: 0;
}
header{
	height: 800px;
	width:100%;
	background: #bbbbbb;
}
.logo{
	height:100px;
	background:#000;
}
.logo img{
	height:100px;
	display: block;
	margin-left:auto;
	margin-right: auto;
}
.dienthoai{
	height:40px;
	width:200px;
	background:#000;
	margin-left:250px;
	margin-top:-70px;
}
.dienthoai img{
	height: 30px;
	width:30px;
	float:left;
}
.dienthoai p{
	font-size:20px;
	color:#fff;
	
}
.lienhe{
	height:40px;
	width:200px;
	margin-left:970px;
	margin-top:-70px;
}
.lienhe img{
	height: 30px;
	width: 30px;
	float: left;
	padding-left: 10px;
}
.page1{
	background: url(img/dalat-6.jpg) no-repeat;
	height: 700px;
	width: 100%;
	background-size: 100% 700px;

 }

 .list1{
 	height: 100px;
	width: 270px;
	float: left;
	background-color: rgba(100, 100, 100, 0.6);
	text-align: center;
	line-height: 100px;
 }
 .list2{
 	height: 100px;
	width: 270px;
	background-color: rgba(100, 100, 100, 0.6);
	float: left;
	text-align: center;
	line-height: 100px;
 }
 .list3{
 	height: 100px;
	width: 270px;
	float: left;
	background-color: rgba(100, 100, 100, 0.6);
	text-align: center;
	line-height: 100px;
 }
 .list4{
 	height: 100px;
	width: 270px;
	float: left;
	background-color: rgba(100, 100, 100, 0.6);
	text-align: center;
	line-height: 100px;
 }
 .list5{
 	height: 100px;
	width: 269px;
	float: left;
	background-color: rgba(100, 100, 100, 0.6);
	text-align: center;
	line-height: 100px;
 }
 .list2 img{
 	height: 60px;
	width: 2px;
	margin-top: 20px;
	float: left;
 }
 .list3 img{
 	height: 60px;
	width: 2px;
	margin-top: 20px;
	float: left;
 }
 .list4 img{
 	height: 60px;
	width: 2px;
	margin-top: 20px;
	float: left;
 }
 .list5 img{
 	height: 60px;
	width: 2px;
	margin-top: 20px;
	float: left;
 }
 
 .page1 a{
 	font-size: 30px;
 	text-decoration: none;
	color: #eeeeee
 }

